html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: serif;
  font-size: 40px;
  color: #aaa;
}

#root {
  height: 100%;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  font-size: 1em;
  text-transform: uppercase;
  font-family: inherit;
  color: inherit;
}