html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  font-size: 5vh;
}

#root {
  height: 100%;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  font-size: 1em;
  text-transform: uppercase;
  font-family: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
