.beat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.beatMarker {
    height: 1em;
    border: 1px solid black;
    background-color: yellow;

    &.active {
        background-color: red;
    }
}
