.beat {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.marker {
	height: 1em;
	border: 1px solid black;
}

.on {
	background-color: red;
}

.off {
	background-color: yellow;
}
