.beat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.active {
        .beatMarker {
            background-color: red;
        }
    }
}

.beatMarker {
    height: 1em;
    border: 1px solid black;
    background-color: yellow;
}
