/* Modifications to rc-slider  */
.rc-slider {
	padding: 0;
	border-radius: 0;
	height: 100%;

	.rc-slider-handle {
		height: 100%;
	}
}

.rc-slider-vertical {
	width: 100%;

	.rc-slider-handle {
		width: 100%;
	}
}

.rc-slider-mark {
	display: none;
}