.grid {
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.flexCenter {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;

	>* {
		flex: auto;
	}
}
