.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-basis: 10px;
}

.flexCenter {
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;

	>* {
		flex: auto;
	}
}
