.marionome {
	position: absolute;
	bottom: 0;
	left: 200px;
	height: 400px;
	width: 800px;
	background-color: blue;
}

// /* Sprites */

// $sprite-size: 32px;

// @mixin sprite-image($w, $h) {
// 	position: absolute;
// 	width: $w * $sprite-size;
// 	height: $h * $sprite-size;
// }

// %sprite-src-scene {
// 	background-image: url("../sprites/SVG/red-top-left.svg");
// }

// %sprite-src-characters {
// 	background-image: url("../sprites/characters.png");
// }

// @function spritePos($x, $y) {
// 	@return #{-($x * $sprite-size + $x)} #{-($y * $sprite-size + $y)};
// }

// /* Pipe */

// .pipe {
// 	position: absolute;
// 	height: $sprite-size * 10;
// 	width: $sprite-size * 2;
// }


// .pipe-top-left {
// 	@extend %sprite-src-scene;
// 	@include sprite-image(1, 1);
// 	background-position: spritePos(0, 8);
// }

// .pipe-top-right {
// 	@extend %sprite-src-scene;
// 	@include sprite-image(1, 1);
// 	left: $sprite-size * 1;
// 	background-position: spritePos(1, 8);
// }

// .pipe-bot-left {
// 	@extend %sprite-src-scene;
// 	@include sprite-image(1, 2);
// 	top: $sprite-size * 1;
// 	background-position: spritePos(0, 9);
// 	background-size: contain;
// 	background-repeat: repeat-y;
// }

// .pipe-bot-right {
// 	@extend %sprite-src-scene;
// 	@include sprite-image(1, 1);
// 	left: $sprite-size * 1;
// 	top: $sprite-size * 1;
// 	background-position: spritePos(1, 9);
// }


