.container {
  height: 100%;
  display: grid;
} 

.metronome {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot {
  display: inline-block;
  background-color: rgb(193, 193, 193);
  border-radius: 5px;
  padding: 5px;
}