.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 600px) 1fr;
} 

.metronome {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot {
  display: inline-block;
  background-color: rgb(193, 193, 193);
  border-radius: 5px;
  padding: 5px;
}